#menu row{margin-right:-15px;margin-left:-15px;}
.services{margin-bottom:5px;}
#menu .col-lg-1, #menu .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, #menu .col-xs-9{
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
}
#menu .text-center{text-align:center;}
.services-content {padding: 15px 15px 10px;margin-top: 15px;background: #eaeaea;border: 1px solid #fff;}
.services .icon{color: #ffffff;font-size: 38px;padding-left: 15px;float: left;background: #3496d8;padding: 2px;width: 45px;}
.icon {speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }
.icon-strategy:before{content:"\e03b";}
.icon-briefcase:before{content:"\e015";}
.services-content h5 {margin: 20px;}
#menu h5 {font-size: 1.286em;font-weight: 500;margin: 0.3em 0;text-transform: capitalize;}
#menu p {font-size: 14px;line-height: 22.4px;color: #6c7279;}
#menu .col-md-4{width:80%;}